* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    font-family: Raleway;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 320px;
}

.navbar {
    width: 100%;
    z-index: 50;
    position: absolute;
}

.navbar .row {
    width: 100%;
}

.navbar img {
    width: 200px;
}

.navbar .nav-itens ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-itens ul li {
    display: inline;
    cursor: pointer;
}

.navbar .nav-itens ul li:nth-child(n+2) {
    margin-left: 45px;
}

.navbar .nav-itens ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    opacity: .8;
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
    transition: .2s ease-in-out;
}

.navbar .nav-itens ul li a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background-color: white;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.navbar .nav-itens ul li a:hover {
    opacity: 1;
}

.navbar .nav-itens ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar .nav-itens ul li .active {
    font-size: .8rem;
    font-weight: 600;
    opacity: 1;
    border-bottom: 1px solid white;
}

footer {
    clear: both;
    height: 320px;
    position: relative;
    margin-top: -320px;
    background-color: #efefef;
}

footer .header img {
    width: 200px;
}

footer .header p {
    color: #656565;
    font-size: .8rem;
    line-height: 1.9;
}

footer .header #contactos, #informacoes, #sociais {
    margin-top: 5.3rem;
}

footer .header #footer-contactos-titulo, #footer-informacoes-titulo, #footer-sociais-titulo {
    color: #656565;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 700;
}

footer .header #contactos span, #informacoes span, #sociais span {
    width: 65px;
    height: 1px;
    background-color: #b48f6d;
    display: inline-block;
    margin-right: 8px;
}

footer .header #footer-contactos-info p {
    line-height: 1.7;
    margin: 0;
    width: 90%;
    padding-left: 78px;
}

footer .header #footer-informacoes-info p {
    line-height: 1.7;
    margin: 0;
    width: 100%;
    padding-right: 30px;
}

footer .header #footer-sociais-info p {
    line-height: 1.7;
    margin: 0;
    width: 100%;
    padding-right: 119px;
}

footer .footer {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: white;
    font-size: .8rem;
    font-weight: 500;
    bottom: 0;
}

footer .footer #footer-languages {
    margin-right: 30px;
}
