.hero-image {
    height: 80%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../media/bg-services.png");
}

#hero-title {
    font-size: 2.5rem;
    width: 110%;
}

#hero-paragraph {
    line-height: 1.8;
    font-family: Poppins;
    font-size: .8rem;
}

#button-saber, #button-contactar {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .7rem;
    text-transform: uppercase;
    font-weight: 600;
}

#button-saber {
    padding: 14px 35px;
    background-color: white;
    border: none;
    color: black;
}

#button-contactar {
    background-size: 220%;
    background-position: 100%;
    background-image: linear-gradient(110deg, #fff 0%, #fff 50%, transparent 50%, transparent 100%);
    padding: 13px 34px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: .3s ease-in-out;
}

#button-contactar:hover {
    color: black;
    background-position: 0;
}

#info-service2 {
    background-color: #efefef;
}

#info-service1 .container,
#info-service2 .container,
#info-service3 .container {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

#info-service1 #info-service1-paragraph,
#info-service2 #info-service2-paragraph,
#info-service3 #info-service3-paragraph {
    font-family: Poppins;
    font-size: .8rem;
    width: 80%;
    line-height: 1.8;
}

.service-image {
    width: 80%;
    height: 120%;
    left: 3px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.service-image-bg {
    width: 76%;
    height: 120%;
    position: absolute;
}

#image1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../media/services1.jpg");
}

#image1-bg, #image3-bg {
    left: 0;
    bottom: 1px;
    border: 3px solid #b48f6d;
}

#image2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../media/services2.jpg");
}

#image2-bg {
    left: 40px;
    bottom: 1px;
    border: 3px solid #b48f6d;
}

#image3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../media/services3.jpg");
}
